{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset form" %}{% endblock title %}
{% block content %}
<h1>{% trans "Reset Password" %} </h1>
{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <p><button type="submit">{% trans "Reset password" %}</button></p>
    </form>
{% else %}
    <p class="form_error">{% trans "Error: Bad link. Please request" %}<a href="{% url 'password_reset' %}"> {% trans "password reset" %}</a>{% trans "again" %}.</p>
    {% endif %}
{% endblock content %}