{% extends 'autoservice/base.html' %}
{% load static %}
{% block title %}Cars in {{ block.super }}{% endblock title %}
{% block content %}
    <h1>Cars</h1>
    <ul class="car_list">
        {% for car in cars %}
            <li class="car">
                <a href="{% url 'car_info' car.id %}">
                    {% if car.photo %}
                        <img src="{{ car.photo.url }}">
                    {% else %}
                        <img src="{% static 'autoservice/img/auto.jpg' %}">
                    {% endif %}
                    <h3>{{ car }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}