{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %} {% trans "My Orders in" %} {{ block.super }}{% endblock title %}
{% block content %}
    <h1>{% trans "My Orders" %}
        {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}">
        {% endif %}
    </h1>
    <p><a class="button" href="{% url 'user_create_new_order' %}">{% trans "Create new order" %}</a></p>
    <div class="table_grid my_orders_table">
        <div class="table_grid_cell dark">{% trans "License plate number" %}</div>
        <div class="table_grid_cell center dark">{% trans "Order date" %}</div>
        <div class="table_grid_cell center dark">{% trans "Due Date" %}</div>
        <div class="table_grid_cell center dark">{% trans "Total amount" %}</div>
        <div class="table_grid_cell center dark">{% trans "Actions" %}</div>
        {% for order in order_list %}
            <div class="table_grid_cell">{{ order.car.license_plate_number }}</div>
            <div class="table_grid_cell center">{{ order.order_date }}</div>
            <div class="table_grid_cell center{% if order.is_overdue %} overdue{% endif %}">{{ order.due_back }}</div>
            <div class="table_grid_cell center">{{ order.total_amount }}</div>
            <div class="table_grid_cell center">
                {% if order.status == "n" %}
                <a class="button" href="{% url 'user_update_order' order.pk%}">{% trans "Update" %}</a>
                <a class="button" href="{% url 'user_delete_order' order.pk%}">{% trans "Cancel" %}</a>
                {% endif %}
            </div>

        {% endfor %}
    </div>
{% endblock content %}